@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:wght@300&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-weight: bold;
}
:root{
    --primary-color:#4f46e5;
    --dark-grey:#a1a1aa;
    --off-white: #b6b6be;
}
.para{
    padding: 0rem 1rem;
}
hr{
    margin: 2rem 0rem;
}
/* containers */
.container{
    padding: 0rem 1rem;
}
.center-container{
    max-width: 600px;
    margin: auto;
}
/* links */
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.primary-link{
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
    
    
}
.secondary-link{
    text-decoration: none;
    border: 1.5px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 0.5rem;
}

/* lists */
.non-bullets{
    list-style: none;
}
.inline-list{
    display: inline;
    padding: 0rem 0.5rem;
}

/* nav */
.navbar{
    background-color: var(--primary-color);
    color: white;
    border-bottom-left-radius: 2rem;
    padding: 1rem 1rem;
}
.nav-brand{
    font-weight: bold;
}
.navbar .link{
    color: white;
}
.navpills{
    text-align: right;
}
.navbar .link-active{
    font-weight: bold;
}
/* header */
.hero{
    padding: 1rem;
}
.hero-img{
    max-width: 390px;
    display: block;
    margin: auto;
}
.hero-heading{
    color: var(--primary-color);
    padding-top: 1rem;
}
/* section */
.section{
    padding: 1.5rem;
}
.section h1{
    text-align: center;
}
.ow{
    background-color:var(--off-white);
}